@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}

.header{
    /*background: red;*/
    padding: var(--space-layout-padding-lr);
}

.header_nav{
    /*background: violet;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 0 15px;
}

.header_nav div:nth-child(2){
    font-family: "EncondeSans-SemiBold";
}

.main{
    background: red;
    padding: var(--space-layout-padding-lr);
}

.checkout_details{
    background: blue;
    padding: 5px;
}

.details_product{
    background: green;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.product_imagen{
    background: maroon;
    width: 70px;
    height: 70px;
}

.product_imagen img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.product_description{
    background: violet;
    display: flex;
    flex-direction: column;
}

.product_custom{
    background: salmon;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_select{
    display: flex;
    justify-content: center;
    align-items: center;
}