@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}

.header{
    background: red;
    display: flex;
    padding: 5px;
    flex-direction: row;
    justify-content: space-around;
}

.header_information{
    background: green;
    justify-content: start;
}

.header_login{
    background: violet;
    justify-content: end;
}
