<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/detail.css">
    <script type="module" src="../js/detail.js" defer></script>
</head>
<body>
    <main class="main">
        <section id="main_section_gallery" class="main_section">
            <!--<article class="article_product">
                <div class="product_image">
                    <img src="../storage/img/img1.png">
                </div>
                <div class="product_menu">
                    <a href="../">
                        <img src="../storage/img/back.svg">
                    </a>
                    <img src="../storage/img/heartBlack.svg">
                </div>
            </article>-->
        </section>
        <section id="main_section_title" class="main_section">
            <!--<article class="article_detail">
                <div class="detail_head">
                    <h1>Modern light clothes</h1>
                    <div class="product_select">
                        <img src="../storage/img/minus.svg">
                        <span>1</span>
                        <img src="../storage/img/plus.svg">
                    </div>
                </div>
                <div class="detail_score">
                    <img src="../storage/img/star.svg" alt="">
                    <img src="../storage/img/star.svg" alt="">
                    <img src="../storage/img/star.svg" alt="">
                    <img src="../storage/img/star.svg" alt="">
                    <img src="../storage/img/star.svg" alt="">
                    <span>5.0</span>
                    <a href="#">(7.932 reviews)</a>
                </div>
            </article>-->
        </section>
        <section class="main_section">
            <article class="product_information">
                <!--<details>
                    <summary>Click me</summary>
                    <p>Lorem, ipsum dolor sit consectetur adipisicing elit. Quos officia necessitatibus non alias, consequatur debitis vel minus quaerat iste molestias, repellat aliquid, ipsa atque quas corporis iusto consectetur vitae? Maxime!</p>
                </details>-->
                <hr>
        </section>
        <section class="main_section">
            <article class="product_custom">
                <div class="product_size">
                    <!--<h5>Chosee size</h5>
                    <div>
                        <img src="../storage/img/sizeS.svg">
                        <img src="../storage/img/sizeM.svg">
                        <img src="../storage/img/sizeL.svg">
                    </div>-->
                </div>
                <div class="product_color">
                    <!--<h5>Color</h5>
                    <div>
                        <img src="../storage/img/color1.svg" alt="">
                        <img src="../storage/img/color2.svg" alt="">
                        <img src="../storage/img/color3.svg" alt="">
                    </div>-->
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <ul class="footer">
            <!--<li>
                <a href="checkout.html">
                    <img src="../storage/img/shopping-cart.svg">
                    <span>Add to Cart | $100.99 <del><sub>$190.99</sub></del></span>
                </a>
            </li>-->
        </ul>
    </footer>
</body>
</html>