<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <main class="main">
        <section class="main_section">
            <article class="article_product">
                <div class="product_image">
                    <img src="../storage/img/img1.png">
                </div>
                <div class="product_menu">
                    <img src="../storage/img/back.svg">
                    <img src="../storage/img/heartBlack.svg">
                </div>
            </article>
        </section>
    </main>
</body>
</html>